#chatTextarea { background-color: var(--x4-bg-3); color: var(--x4-fg); border: 1px solid rgba(255,255,255,.1); }
#chatSubmitButton { color: var(--x4-accent); }
#chatSubmitButton:hover, #EmoticonPickerButton:hover, #EmbedButton:hover { color: var(--x4-accent-2); }
