#MusicPlayerDialog, #ControlBlock { background-color: var(--x4-bg-1); }
#Progress { background-color: var(--x4-accent); }
#IconButton:hover, #Icon:hover { color: var(--x4-accent-2); }
#SoundtrackName { color: var(--x4-fg); }
